In [13]:
# Day 1: Python Basics

#  Variables & Data Types
a = 10          # int
b = 3.14        # float
name = "Hari"   # str
status = True   # bool

In [11]:
#  Lists, Tuples, and Dictionaries
fruits = ["apple", "banana", "cherry"]      # list
dimensions = (10, 20)                       # tuple
student = {"name": "Hari", "age": 18}       # dictionary

In [12]:
#  Arithmetic Operators
x = 5 + 3       # Addition
y = 10 - 2      # Subtraction
z = 4 * 2       # Multiplication
d = 8 / 2       # Division

In [15]:
#  Comparison Operators
x = 15
y = 10
print(x > y)    # Greater than
print(x == y)   # Equality

True
False

In [8]:
# Control Flow Primer

# if, elif, else
age = 18
if age < 18:
    print("Minor")
elif age == 18:
    print("Just turned adult")
else:
    print("Adult")

Just turned adult

In [6]:
# for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)  # Loops through the list

apple
banana
cherry

In [7]:
# while loop
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2