# **Day 2 â€” Python Fundamentals**
---

## Task 1: Data Structures Deep Dive

In [1]:
#Basic Data Structures

# List
fruits = ["apple", "banana", "cherry", "apple"]
print("List:", fruits)

List: ['apple', 'banana', 'cherry', 'apple']

In [2]:
# Tuple
dimensions = (10, 20, 30)
print("Tuple:", dimensions)

Tuple: (10, 20, 30)

In [6]:
# Set
unique_fruits = set(fruits)
print("Set (removes duplicates):", unique_fruits)

Set (removes duplicates): {'cherry', 'banana', 'apple'}

In [7]:
# Dictionary
student = {"name": "Hari", "age": 18, "skills": ["Python", "SQL"]}
print("Dictionary:", student)

Dictionary: {'name': 'Hari', 'age': 18, 'skills': ['Python', 'SQL']}

In [8]:
# List Comprehensions without condition
fruits = ["apple", "banana", "cherry", "apple"]
new=[]

for x in fruits:
  new.append(x)
print(new)

['apple', 'banana', 'cherry', 'apple']

In [5]:
# List Comprehensions with condition
fruits = ["apple", "banana", "cherry", "apple"]
new=[]

for x in fruits:
  if "a" in x:
    new.append(x)
print(new)

['apple', 'banana', 'apple']

In [12]:
#Basic Nested Dictionary

student = {
    "name": "Hari",
    "marks": {
        "math": 90,
        "science": 85,
        "english": 88
    }
}
#Access the value of math:
print(student["marks"]["math"])

90

In [14]:
# Another Example for Nested:
school = {
    "class10": {"sectionA": {"students": {"hari": {"roll_no": 12,"grades": {"math": 95,"science": 88}},
                "ravi": {"roll_no": 13,"grades": {"math": 78,"science": 90}}}}}}

#Access Hari's science grade:
print(school["class10"]["sectionA"]["students"]["hari"]["grades"]["science"])

88

In [17]:
#Sorting List & Removing Duplicates

numbers = [5, 2, 3, 5, 1, 2, 4]
unique_sorted = sorted(set(numbers))
print("Sorted list without duplicates:", unique_sorted)

Sorted list without duplicates: [1, 2, 3, 4, 5]

## Task 2: Functions & Modules

In [21]:
# Factorial Calculator

def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [24]:
#Prime Number Checker

def prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print("Is 5 prime?", prime(5))
print("Is 7 prime?", prime(7))
print("Is 10 prime?", prime(10))

Is 5 prime? True
Is 7 prime? True
Is 10 prime? False

In [30]:
#Built-in Modules

#math Module
import math

# Using math module to get square root and pi value
num = 16
print("Square root of", num, "is", math.sqrt(num))
print("Value of pi:", math.pi)



#random Module
import random

# Generate a random number between 1 and 10
random_number = random.randint(1, 10)
print("\nRandom number:", random_number)

#datetime Module
import datetime

# Get the current date and time
current_datetime = datetime.datetime.now()
print("\nCurrent date and time:", current_datetime)

Square root of 16 is 4.0
Value of pi: 3.141592653589793

Random number: 1

Current date and time: 2025-06-19 11:29:28.209774

## Task 3: Exception Handling
### The concept which i learn from this:


*   try: Block of code to test for errors.
*   except: Block of code that handles the error.
*   finally: Block of code that will execute no matter what, even if an error occurs.

In [31]:
try:
    num = 10
    result = num / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("Error: You tried to divide by zero!")
finally:
    print("This will always execute, error or not.")

Error: You tried to divide by zero!
This will always execute, error or not.

In [34]:
try:
    user_input = input("Enter a number: ")
    number = int(user_input)  # May raise ValueError if input is not a number
    print(f"You entered: {number}")
except ValueError:
    print("Error: That is not a valid number.")
finally:
    print("Input handling complete.")

Enter a number: Hari
Error: That is not a valid number.
Input handling complete.

## Task 4: Practice Problems

In [1]:
#FizzBuzz logic:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [7]:
#Finding the largest number in a list
numbers = [5, 12, 3, 45, 7]
largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("The largest number is:", largest)

The largest number is: 45

In [9]:
#Reversing a string
text = "Quantlake"
reversed_text = text[::-1]
print(reversed_text)

ekaltnauQ